.containerAbout {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 2rem 4rem;
        background-color: #9EEBCF;
        padding-top: calc(48px + 64px);
      }

  