.containerHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2463EB;
  padding: 5rem 6rem 5rem 6rem;
  max-width: 1400px;
}

@media screen and (max-width: 320px){
  .containerHeader {
          max-width: 320px;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .elementOne {
    animation: elementOneSpin infinite 10s linear;
  }
}

@keyframes elementOneSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .elementTwo {
    animation: elementTwoSpin infinite 15s linear;
  }
}

@keyframes elementTwoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .elementThree {
    animation: elementThreeSpin infinite 10s linear;
  }
}

@keyframes elementThreeSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .elementFour {
    animation: elementFourSpin infinite 5s linear;
  }
}

@keyframes elementFourSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .elementFive {
    animation: elementFiveSpin infinite 15s linear;
  }
}

@keyframes elementFiveSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



