
.containerProjects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #CDECFF;
    padding-top: calc(48px + 64px);
    padding-left: 4rem;
    padding-right: 4rem;
}


.containerProjectLinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.projectDescription {
        padding: 2rem;
        text-align: left;  
}




/*
.linkProject{
    
        background-image: Bhromaon.png;
        background-size: 170%;
        height: 300;
        width: 300px;
        text-align: center;
        line-height: 300px;
        margin: 10px;
        font-size: 72px;
}
*/
