.containerSkills {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        background-color: #F6FFFE;
        padding-top: calc(48px + 64px);
        width: 1440px;
}

ul {
    list-style-type: none;
  }


  blockquote{
      font-size: 1.4em;
      width:60%;
      margin:50px auto;
      font-family:Open Sans;
      font-style:italic;
      color: #E7040F;
      padding:1.2em 30px 1.2em 75px;
      border-left:8px solid #E7040F;
      line-height:1.6;
      position: relative;
      background: #F6FFFE;
    }
    
    blockquote::before{
      font-family:Arial;
      content: "\201C";
      color:#E7040F;
      font-size:4em;
      position: absolute;
      left: 10px;
      top:-10px;
    }
    
    blockquote::after{
      content: '';
    }
    
    blockquote span{
      display:block;
      color:#E7040F;
      font-style: normal;
      font-weight: bold;
      margin-top:1em;
      
    }